deb http://{{ cm_apt_host }}/debian/ jessie main non-free contrib
deb http://{{ cm_apt_host }}/debian/ jessie-proposed-updates main non-free contrib
deb-src http://{{ cm_apt_host }}/debian/ jessie main non-free contrib
deb-src http://{{ cm_apt_host }}/debian/ jessie-proposed-updates main non-free contrib
