deb http://{{ apt_host }}/debian/ jessie main non-free contrib
deb http://{{ apt_host }}/debian/ jessie-proposed-updates main non-free contrib
deb-src http://{{ apt_host }}/debian/ jessie main non-free contrib
deb-src http://{{ apt_host }}/debian/ jessie-proposed-updates main non-free contrib
